Week6

In [1]:
#initialize all the packages and modules needed
import pandas as pd
import statsmodels.tools.tools as stattools
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
#Save the income data to variable y for simplicity
adult_tr = pd.read_csv('adult_ch6_training.csv')
y=adult_tr[['Income']]

In [3]:
y

      Income
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
...      ...
18756  <=50K
18757  <=50K
18758  <=50K
18759  <=50K
18760  <=50K

[18761 rows x 1 columns]

Utilize the Cart Model implemented found within the SKlearn package
========
make use of a dummy variable to for the marital status using
categorical() command

In [4]:
#creates an array that contains the Marital Status
import numpy as np
mar_np = np.array(adult_tr['Marital status'])
mar_cat = pd.get_dummies(mar_np)

In [5]:
mar_cat

       Divorced  Married  Never-married  Separated  Widowed
0         False    False           True      False    False
1          True    False          False      False    False
2         False     True          False      False    False
3         False     True          False      False    False
4         False     True          False      False    False
...         ...      ...            ...        ...      ...
18756      True    False          False      False    False
18757     False     True          False      False    False
18758     False     True          False      False    False
18759      True    False          False      False    False
18760     False     True          False      False    False

[18761 rows x 5 columns]

In [6]:
#Save multiple variable from the Categorical() method
mar_cat_pd = pd.DataFrame(mar_cat)
x = pd.concat((adult_tr[['Cap_Gains_Losses']], mar_cat_pd), axis =1)

In [7]:
mar_cat_pd

       Divorced  Married  Never-married  Separated  Widowed
0         False    False           True      False    False
1          True    False          False      False    False
2         False     True          False      False    False
3         False     True          False      False    False
4         False     True          False      False    False
...         ...      ...            ...        ...      ...
18756      True    False          False      False    False
18757     False     True          False      False    False
18758     False     True          False      False    False
18759      True    False          False      False    False
18760     False     True          False      False    False

[18761 rows x 5 columns]

In [8]:
x

       Cap_Gains_Losses  Divorced  Married  Never-married  Separated  Widowed
0               0.02174     False    False           True      False    False
1               0.00000      True    False          False      False    False
2               0.00000     False     True          False      False    False
3               0.00000     False     True          False      False    False
4               0.00000     False     True          False      False    False
...                 ...       ...      ...            ...        ...      ...
18756           0.00000      True    False          False      False    False
18757           0.00000     False     True          False      False    False
18758           0.00000     False     True          False      False    False
18759           0.00000      True    False          False      False    False
18760           0.00000     False     True          False      False    False

[18761 rows x 6 columns]

Create Labels for the graph to help visualize the CART model

In [9]:
x_names = ["Cap_Gains_Losses", "Divorced", "Married", "Never-married",
           "Separated", "Widowed"]

y_names = ["<50k", ">50K"]

In [10]:
#create the CART Algorithm
#the DecisionTreeClassifier() sets up parameters for decision tree
#criterion="gini" specifies the use of CART model
#max_leaf_nodes indicats the CART tree to at most the specified number
cart01 = DecisionTreeClassifier(criterion="gini", max_leaf_nodes=5).fit(x,y)
cart01

DecisionTreeClassifier(max_leaf_nodes=5)

In [13]:
#use export_graphvic() to output the cart01
data = export_graphviz(cart01, out_file=None, feature_names=x_names, class_names=y_names)

In [12]:
#use precit() commad to obtain classifications of t he income variable
predIncomeCART = cart01.predict(x)
predIncomeCART

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)